<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>SecureSites</title> <!-- Website title -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/securesite.ico') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">

</head>
<body class = "bg-primary">

  <div class="container2">
  </div>

<script>
  let jsonfile = JSON.parse({{jsonfile|tojson}});
  console.log(jsonfile);
  document.getElementById(".container2").innerHTML = JSON.stringify(jsonfile, null, 2);;
</script>
<script>
// When the user clicks on <div>, open the popup
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
</script>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
    <script>
        // Get the current year for the copyright
        $('#year').text(new Date().getFullYear());

        // Init Scrollspy
        $('body').scrollspy({ target: '#main-nav' });

        // Smooth Scrolling
        $("#main-nav a").on('click', function (event) {
          if (this.hash !== "") {
            event.preventDefault();

            const hash = this.hash;

            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 800, function () {

              window.location.hash = hash;
            });
          }
        });
      </script>
      <script>
        $('.carousel').carousel({
          interval:3000,
          keyboard: true, <!-- not working -->
          pause: 'hover',
          wrap: true,   <!--wrap option set to true works for moving images like in a round and when set to false movement stops after last pic and the only option left is to go back, same with first pic wont allow to go before first -->
        });
        $('#slider1').on('slide.bs.carousel', function(){
          console.log('slide - this fires when img moves/takes off')
        });

        $('#slider1').on('slid.bs.carousel', function() {
        console.log('slid - this fires when img stops')
        });
      </script>



      <br>
      <a class="btn btn-outline-success" href = "password.html" name="key" type="submit" value="+"/>+</a>
      <a class="btn btn-outline-danger" href = "password.html" name="key" type="submit" value="-"/>-</a>
      <br><br>
            <small class="text-muted">§</small>
        </p>
</body>
</html>
