<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>SecureSites</title> <!-- Website title -->
    <link rel="shortcut icon" href="img/securesite.ico" />
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-light fixed-top py-40 bg-primary" id="main-nav">
    <div class="container">
      <a href="securesites.html" class="navbar-brand">
        <img src="img/securesite.jpeg" alt=":)" width="50" height="50">
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarcollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarcollapse">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a href="main.html" class="nav-link">Sign In </a>
          </li>
          <li class="nav-item">
            <a href="articles.html" class="nav-link"> Sign Up</a>
          </li>
        </ul>
      </div>
  </nav>
  <br><br><br><br><br>
  <div class="card text-center col-lg-4 mx-auto">
                <div class="card-body">
                    <h4 class="card-title">Bigg niggas</h4>
                    <br>
                    <form action="/login" method="post">
                      <label for="email">Email: </label>
                      <input type="text" name="emailID"></input>
                      <br>
                      <br>
                      <label for="masterkey">Master Key: </label>
                      <input type="password" name="masterkeyID"></input>
                      <br>
                      <br>
                    <input class="btn btn-outline-primary" name="Login" type="submit" value="Login"/></input>
                  </form>
                  <br>
                        <small class="text-muted">Welcome to Cyber Security §</small>
                    </p>
                </div>
            </div>

</body>
</html>
